.features {
    @media only screen and (max-width: $break-small) {
      position: relative;
      right: 50px;
    }
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    column-gap: 150px;
    width: 80%;
    margin: 0 auto;
    row-gap: 80px;
    .info {
      margin: 0 auto;
      width: 350px;
      h3 {
        font-size: rem(20px);
      }
      p {
        font-size: rem(14px);
      }
    }
    margin-bottom: 138px;
  }